
body {
    padding: 0px;
    margin: 0px;
    background: transparent url('//st.acstnst.com/content/Tarzan_Light_Maxroar_BG/images/body-bg.gif') repeat scroll 0% 0%;
}
body * {
    font-family: Arial;
}
h1, h2, h3 {
    font-weight: normal;
    margin: 0px;
}
h1 {
    font-size: 27px;
}
h2 {
    font-size: 21px;
}
a {
    color: rgb(186, 0, 9);
}
a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.wrap {
    min-width: 320px;
    margin: 0px auto;
}
body img {
    max-width: 100%;
}
.content {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.breadcrumbs {
    background: rgb(186, 0, 9) none repeat scroll 0% 0%;
    padding: 2px 2px 2px 15px;
    width: 140px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 15px;
    margin-bottom: 25px;
}
.topic {
    height: 38px;
    width: 480px;
    background: transparent url('//st.acstnst.com/content/Tarzan_Light_Maxroar_BG/images/bg_blogs.png') no-repeat scroll 0% 0%;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    left: -10px;
}
.topic span {
    float: left;
    display: block;
}
.topic .title {
    width: 100px;
    text-align: center;
    font-size: 21px;
    color: rgb(186, 0, 9);
    position: relative;
    top: 8px;
}
.topic .text {
    width: 380px;
    font-size: 11px;
    position: relative;
    top: 7px;
}
.post {
    padding: 15px 25px;
    font-size: 15px;
}
.post .info {
    color: rgb(153, 153, 153);
    font-size: 11px;
    font-style: italic;
}
.post a {
    font-size: 19px;
}
.comments {
    max-width: 1000px;
    margin: 5px auto 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.comment {
    margin: 0px 15px;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.comment:last-child {
    border: medium none;
}
.comment .avatar {
    float: left;
    width: 35px;
    height: 35px;
}
.comment .text {
    margin-left: 45px;
    font-size: 13px;
}
.comment .text .login {
    color: rgb(186, 0, 9);
    font-weight: bold;
}
.comment .text .date {
    color: rgb(153, 153, 153);
    font-size: 11px;
    font-style: italic;
}
.comment .text .data {
    display: block;
    margin-top: 2px;
    width: 70%;
}
.comment .text .data img {
    display: block;
    position: relative;
    top: 5px;
}
.photo {
    max-width: 1000px;
    margin: 5px auto 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding-bottom: 10px;
}
.footer {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    max-width: 1000px;
    margin: 5px auto 0px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 11px;
}
.mainLink {
    text-decoration: underline;
}
.mainLink:hover {
    text-decoration: none;
}
.header {
    width: 100%;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    text-align: center;
}
@media only screen and (max-width: 480px) {

    .topic .text {
        display: none;
    }
    .topic {
        width: 100%;
    }
}